body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
    color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
}

.profile-cards {
    display: flex;
    flex-wrap: wrap; /* Permitir el ajuste de línea */
    justify-content: center;
    gap: 50px;
    background-image: url('data.png'); /* Ruta de la imagen de fondo */
}

.nav-links{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
}
.navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-links li{
    margin-right: 20px;
}
 
.nav-links li a{
    color: #fff;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    align-items:left;
}
.container p{
    align-items: right;
}

.tarjeta {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(169, 230, 244);
    display: inline-block;
    width: 30%; 
    margin: 20px 10px; 
}
.tarjeta img {
    width: 100%;
    border-radius: 10%;
}
/*CONTACTO*/
.contact-info {
    text-align: center;
}

.contact-info ul {
    padding: 0;
    list-style: none;
}

.contact-info ul li {
    display: inline;
    margin-right: 10px;
}

.contact-info ul li img {
    width: 30px;
    height: 30px;
}
footer {
    text-align: center;
    background-color: lightblue; /* Cambia al color de fondo deseado */
    padding: 20px;
}

footer img {
    border-radius: 50%; /* Para hacer los bordes redondos */
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: 100px; /* Ajusta el tamaño según sea necesario */
}

